POSTGRES_BIND_IP=127.0.0.1
POSTGRES_PORT=5434
POSTGRES_USER=sentra_live_user
POSTGRES_PASSWORD=change-me-live-postgres
POSTGRES_DB=sentra_live_db

MONGO_BIND_IP=127.0.0.1
MONGO_PORT=27018
MONGO_ROOT_USERNAME=sentra_live_mongo
MONGO_ROOT_PASSWORD=change-me-live-mongo

REDIS_BIND_IP=127.0.0.1
REDIS_PORT=6381
REDIS_PASSWORD=change-me-live-redis

RABBITMQ_BIND_IP=127.0.0.1
RABBITMQ_PORT=5674
RABBITMQ_MANAGEMENT_PORT=15674
RABBITMQ_DEFAULT_USER=sentra_live_rabbit
RABBITMQ_DEFAULT_PASS=change-me-live-rabbit
